*{
    margin: 0;
}

body {
    background-color: #F0F0F0;
    width: 100vw;
    height: 1732px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

nav{
    width: 100vw;
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    float: left;
    background-color: black;
}

.logo{
    margin: 0 15px;
    width: 40px;
    height: 41.55px;
    background-image: url(../assets/logo.png);
    background-size: cover;
}

.logo2{
    margin: 0 15px;
    width: 40px;
    height: 41.55px;
}

.btnsdiv{
    width: 322px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.s1{
    width: 317px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 34px 18px 34px 10px;
    background-color: white;
}

.watchdiv{
    display: inline-flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 21px;
width: 100%;
margin-top: 47px;
}

.seeall{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

