*{
    margin: 0;
}

body {
    background-color: #F0F0F0;
    width: 100vw;
    height: 1732px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
    margin-top: 80px;
}

nav{
    width: 100vw;
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    float: left;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 99;
}

.logo{
    margin: 0 15px;
    width: 40px;
    height: 41.55px;
    background-image: url(../assets/logo.png);
    background-size: cover;
}

.logo2{
    margin: 0 15px;
    width: 40px;
    height: 41.55px;
}

.btnsdiv{
    width: 322px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.s1{
    width: 23.5vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 34px 18px 34px 10px;
    background-color: white;
    border-top: 5px solid #F0F0F0;
    position: fixed;
}

.watchdiv{
    display: inline-flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 21px;
width: 100%;
margin-top: 47px;
}

.seealldiv{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 76px;
}

.title{
    color: #000;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.seeall{
    color: #1877F2;
font-family: Arial;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.uxuidiv{
    display: inline-flex;
padding: 8px 0;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 22px;
width: 100%;
margin-top: 13px;
}

.s2{
    width: 47vw;
    height: auto;
    gap: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    position: relative;
    margin: 0 auto;
}

.profdiv{
    width: 97%;
    height: 280px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 9px;
    border-radius: 7px;
    background: #FFF;
    margin-top: 17px;
}

.post{
    width: 99%;
    
}