.profilediv{
    padding: 5px;
    display: flex;
    align-items: flex-start;
    gap: 5px;
    flex-direction: column;
    border-radius: 7px;
background: #FFF;
box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.18);
}

.profbg{
    background-image: url(../assets/profbg.png);
    background-size: cover;
    width: 160px;
height: 172px;
}

.profile{
    width: 101px;
height: 30px;
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-between;
}

h6{
    color: #000;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.pfp{
    width: 30px;
    height: 30px;
    background-image: url(../assets/pfp.png);
    background-size: cover;
}