.uxuicontainer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

img{
    width: 50px;
height: 50px;
}

h5{
    color: #000;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
}